#main-content {
    layout: horizontal;
    height: 1fr;
}

#left-pane {
    width: 60%;
    height: 100%;
    border: solid green;
}

#right-pane {
    width: 1fr;
    height: 100%;
}

.placeholder {
    padding: 1 2;
    color: $text-muted;
}
